dashboard/public/js/bootstrap-notify.js
dashboard/public/js/bootstrap-tour.min.js
dashboard/public/js/bootstrap.min.js
dashboard/public/js/Chart.min.js
dashboard/public/js/jquery-3.1.0.min.js
dashboard/public/js/jquery-ui-1-11-4.js
dashboard/public/js/jquery.datetimepicker.full.js
dashboard/public/js/jquery.ui.sortable-animation.js
dashboard/public/js/jquery.multi-select.js
dashboard/public/js/jquery.searchable.js
dashboard/public/js/l10n.js
dashboard/public/js/material-dashboard.js
dashboard/public/js/material.min.js
dashboard/public/js/moment.min.js
dashboard/public/js/noty.js
dashboard/public/js/pace.min.js
dashboard/public/js/qrcodegen.js
dashboard/public/js/FileSaver.js
dashboard/public/js/select2.min.js
api/controller/utils/qrCodeUtil.js

docs/

build/

sugarizer/