
<footer>
  <div class="container-fluid">
      <p class="copyright text-center">
          © 2017 Sugarlabs
      </p>
  </div>
</footer>

  <script src="../js/jquery-3.1.0.min.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
  <script src="../js/material.min.js" type="text/javascript"></script>
  <script src="../js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../js/material-dashboard.js" type="text/javascript"></script>
  <script src="../js/Chart.min.js" type="text/javascript"></script>
  <script src="../js/noty.js" type="text/javascript"></script>
  <script src="../js/moment.min.js" type="text/javascript"></script>
  <script src="../js/fileuploader.js" type="text/javascript"></script>
  <script src="../js/jquery.slimscroll.min.js" type="text/javascript"></script>
  <script src="../js/velocity.min.js" type="text/javascript"></script>
  <script src="../js/ejs_production.js" type="text/javascript"></script>
  <script src="../js/sweetalert.min.js" type="text/javascript"></script>
  <script src="../js/jquery.loader.fullscreen.js" type="text/javascript"></script>
  </body>

</html>
