
  <script src="/public/js/material.min.js" type="text/javascript"></script>
  <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/public/js/bootstrap-tour.min.js" type="text/javascript"></script>
  <script src="/public/js/material-dashboard.js" type="text/javascript"></script>
  <script src="/public/js/bootstrap-notify.js" type="text/javascript"></script>
  <script src="/public/js/moment.min.js" type="text/javascript"></script>
  <script src="/public/js/FileSaver.js" type="text/javascript"></script>
  <script src="/public/js/main.js" type="text/javascript"></script>
  <script src="/public/js/tutorial.js" type="text/javascript"></script>
  <script src="/public/js/qrcodegen.js" type="text/javascript"></script>
  <script src="/public/js/jquery.datetimepicker.full.js" type="text/javascript"></script>
  <!-- <script src="/public/js/jquery.datetimepicker.min.js" type="text/javascript"></script> -->

  </body>

</html>
