
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" style="font-weight:500" data-l10n-id="<%= module %>"></div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
  							<li class="dropdown">
  								<a href="/dashboard/logout" class="dropdown-toggle" data-toggle="dropdown">
  									<p class="custom-icon xo-icon"></p>
  									<p class="hidden-lg hidden-md" data-l10n-id="logout">Logout</p>
  								</a>
  								<ul class="dropdown-menu">
  									<li><a href="/dashboard/logout" data-l10n-id="logout">Logout</a></li>
  								</ul>
  							</li>
            </ul>
            <div class="navbar-form navbar-right">
                <select class="form-control" id="languageSelection">
                  <option data-l10n-id="english-nav" <% if(account.user.language == 'en'){ %>selected="selected"<% } %> value="en"></option>
                  <option data-l10n-id="spanish-nav" <% if(account.user.language == 'es'){ %>selected="selected"<% } %> value="es"></option>
                  <option data-l10n-id="french-nav" <% if(account.user.language == 'fr'){ %>selected="selected"<% } %> value="fr"></option>
                  <option data-l10n-id="hindi-nav" <% if(account.user.language == 'hi'){ %>selected="selected"<% } %> value="hi"></option>
                </select>
            </div>
        </div>
    </div>
</nav>
