
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-l10n-id="<%= module %>" href="#"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
  							<li class="dropdown">
  								<a href="/dashboard/logout" class="dropdown-toggle" data-toggle="dropdown">
  									<p class="custom-icon xo-icon"></p>
  									<p class="hidden-lg hidden-md">Logout</p>
  								</a>
  								<ul class="dropdown-menu">
  									<li><a href="/dashboard/logout">Logout</a></li>
  								</ul>
  							</li>
            </ul>
            <div class="navbar-form navbar-right">
                <select class="form-control" id="languageSelection">
                  <option <% if(account.user.language == 'en'){ %>selected="selected"<% } %> value="en">English</option>
                  <option <% if(account.user.language == 'es'){ %>selected="selected"<% } %> value="es">Spanish</option>
                  <option <% if(account.user.language == 'fr'){ %>selected="selected"<% } %> value="fr">French</option>
                  <option <% if(account.user.language == 'hi'){ %>selected="selected"<% } %> value="hi">Hindi</option>
                </select>
            </div>
        </div>
    </div>
</nav>
