
<div class="sidebar" data-color="black">

	<div class="logo">
		<a href="/dashboard" class="simple-text"><%= server.name %></a>
		<div class="server-description"><%= server.description %></div>
	</div>

	<div class="sidebar-wrapper">
		<ul class="nav">
			<%if (module == 'dashboard') { %>
				<li class="active">
			<% } else {%>
				<li>
			<% }%>
				<a class="pointer" onclick="jumpTo('/dashboard')">
					<i class="custom-icon home-icon"></i>
					<p data-l10n-id="dashboard">Home</p>
				</a>
			</li>
			<%if (module == 'users') { %>
				<li class="active">
			<% } else {%>
				<li>
			<% }%>
				<a class="pointer" onclick="jumpTo('/dashboard/users')">
					<i class="custom-icon xo-icon"></i>
					<p data-l10n-id="users">Users</p>
				</a>
			</li>
			<%if (module == 'activities') { %>
				<li class="active">
			<% } else {%>
				<li>
			<% }%>
				<a class="pointer" onclick="jumpTo('/dashboard/activities')">
					<i class="custom-icon activity-icon"></i>
					<p data-l10n-id="activities">Activities</p>
				</a>
			</li>
			<%if (module == 'journals') { %>
				<li class="active">
			<% } else {%>
				<li>
			<% }%>
				<a class="pointer" onclick="jumpTo('/dashboard/journal')">
					<i class="custom-icon journal-icon"></i>
					<p data-l10n-id="journals">Journals</p>
				</a>
			</li>
			<%if (module == 'classrooms') { %>
				<li class="active">
			<% } else {%>
				<li>
			<% }%>
				<a class="pointer" onclick="jumpTo('/dashboard/classrooms')">
					<i class="custom-icon classroom-icon"></i>
					<p data-l10n-id="classrooms">Classrooms</p>
				</a>
			</li>
			<%if (module == 'stats') { %>
				<li class="active">
			<% } else {%>
				<li>
			<% }%>
				<a class="pointer" onclick="jumpTo('/dashboard/stats')">
					<i class="custom-icon stats-icon"></i>
					<p data-l10n-id="stats">Statistics</p>
				</a>
			</li>
		</ul>
	</div>
</div>
