.favoriteBox input[type=checkbox] {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.favoriteBox input[type=checkbox]:not(:checked) {
  background-image: url('/public/img/star_inactive.png');
}

.favoriteBox input[type=checkbox]:checked {
  background-image: url('/public/img/star_active.png');
}

#recent-activities-table tr{
  cursor: pointer;
}

#recent-users-table tr{
  cursor: pointer;
}

.highlight {
  background-color: #FFEB3B;
  padding: 3px 6px;
  border-radius: 4px;
}

.server-description {
  text-align: center;
  color: #C0C0C0;
  font-size: 11px;
}
.student {
  margin: 0 0 5px 0;
  cursor: pointer;
}

.student .xo-icon {
  height: 30px;
  float: left;
  width: 30px;
  margin: 10px;
}

.student .name {
  font-weight: 500;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student .timestamp {
  font-size: 11px;
  white-space: nowrap;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-selection {
  border: 0 !important;
  background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  margin-bottom: 7px;
  height: 36px !important;
  border-radius: 0;
  font-weight: 400;
}

.sidebar .custom-icon {
  height: 30px;
  width: 30px;
  background-size: 30px;
}

.card .custom-icon {
  background-size: 50px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  margin: 0;
}

.nav .dropdown .custom-icon {
  height: 18px;
  width: 18px;
  margin: 0;
  background-size: 18px;
  display: inline-block;
}

.xo-icon {
  background-image: url('/public/img/owner-icon.svg');
}

.home-icon {
  background-image: url('/public/img/home-icon.svg');
}

.custom-icon.invert {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -o-filter: invert(100%);
  -moz-filter: invert(100%);
}

.activity-icon {
  background-image: url('/public/img/activity-icon.svg');
}

.journal-icon {
  background-image: url('/public/img/activity-journal.svg');
}

.journal-icon2 {
  cursor: pointer;
  background-image: url(/public/img/journal-icon.svg);
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: block;
  float: left;
}

.student-icon {
  cursor: pointer;
  background-image: url('/public/img/student-icon.svg');
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: block;
  float: left;
}

.shutdown-icon {
  background-image: url('/public/img/system-shutdown.svg')
}

.stats-icon {
  background-image: url('/public/img/stat-icon.svg')
}

.classroom-icon {
  background-image: url('/public/img/classroom-icon.svg')
}

.material-icons.dp24 {
  font-size: 24px;
  line-height: 36px;
}

.material-icons.dp48 {
  font-size: 48px;
  line-height: 56px;
}

.material-icons.dp96 {
  font-size: 96px;
  line-height: 108px;
}

#user-add-edit-form .select2-selection {
  height: 50px !important;
}

.select2-container {
  width: 100% !important;
}

#languageSelection {
  border: 1px solid #b3b3b3;
  background: #fff;
  margin: 5px;
  height: 30px;
  width: 120px;
  border-radius: 1000px;
}

.pointer {
  cursor: pointer;
}

.dashboard-table-title {
  position: fixed;
}

.dashboard-table {
  margin-top: 20px;
}

.color {
  margin: 0 0 5px 0;
}

.color .xo-icon {
  height: 30px;
  float: left;
  width: 30px;
}

.color .fill, .color .stroke {
  font-weight: 300;
  padding: 1px 0;
  line-height: 15px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #000000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #000000, 0 0 5px #000000;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #000000;
  border-left-color: #000000;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@font-face {
	font-family: "Noto Emoji";
	src: url("../fonts/NotoEmoji.woff") format('woff');
}

.emojis {
	font-size: 12pt;
	font-family: "Noto Emoji";
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
