.favoriteBox input[type=checkbox] {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.favoriteBox input[type=checkbox]:not(:checked) {
  background-image: url('/public/img/star_inactive.png');
}

.favoriteBox input[type=checkbox]:checked {
  background-image: url('/public/img/star_active.png');
}

.highlight {
  background-color: #FFEB3B;
  padding: 3px 6px;
  border-radius: 4px;
}

.student {
  margin: 0 0 5px 0;
  cursor: pointer;
}

.student .xo-icon {
  height: 40px;
  float: left;
  width: 40px;
  margin: 5px;
}

.student .name {
  font-weight: 500;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student .timestamp {
  font-size: 11px;
  white-space: nowrap;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-selection {
  border: 0 !important;
  background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  margin-bottom: 7px;
  height: 36px !important;
  border-radius: 0;
  font-weight: 400;
}

.material-icons.dp24 {
  font-size: 24px;
  line-height: 36px;
}

.material-icons.dp48 {
  font-size: 48px;
  line-height: 56px;
}

.material-icons.dp96 {
  font-size: 96px;
  line-height: 108px;
}

#user-add-edit-form .select2-selection {
  height: 50px !important;
}

#user-add-edit-form .select2-container {
  width: 100% !important;
}

.color {
  margin: 0 0 5px 0;
  cursor: pointer;
}

.color .xo-icon {
  height: 40px;
  float: left;
  width: 40px;
  margin: 5px;
}

.color .fill, .color .stroke {
  font-weight: 300;
  padding: 5px 0;
  line-height: 15px;
}

.pace-running>*:not(.pace) {
  opacity: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}
