<!DOCTYPE html>
<html>

<head>
    <title>Sugarlabs Dashboard</title>
    <% include ../includes/headscripts %> 
</head>

<body>
    404 error page
    <div class="footer1">Sugarlabs</div>
    <% include ../includes/scripts %> 
</body>

</html>