<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
	<% include includes/navbar %>
		<div class="content">
			<div class="container-fluid">

        journal page

			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
