<!DOCTYPE html>
<html>

<head>
    <title>Sugarlabs Dashboard</title>
    <% include ../includes/headscripts %> 
</head> 
<body>
	<div class="wrapper">
		<% include ../includes/sidebar %> 
		<div class="main-panel">
			<% include ../includes/header %> 
			<div class="content ">
				<div class="container-fluid">
					<div class="row">
						 This is a journal page
					</div>  
				</div>
			</div> 
		</div>
	</div>
    <% include ../includes/scripts %> 
</body>

</html>