<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
	<% include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="navbar-form navbar-center" style="width: 100%;">
								<div class="form-group form-black is-empty" style="margin:0;width: 100%;">
										<input class="form-control search_query" style="width: 100%;" value="" placeholder="Search User..." type="text">
										<span class="material-input"></span>
								<span class="material-input"></span><span class="material-input"></span></div>
						</div>
						<div class="card">
							this will have users list with search
						</div>
					</div>
	        <div class="col-md-9 col-lg-9 col-sm-9">
						<div class="card">
							this will have shared/private journal entries
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
