<% include includes/header %>

<div class="main-content">
  <div class="container-fluid">
    <script>
        var lsObj = <%- JSON.stringify(lsObj) %>;
        for (var index in lsObj) {
          localStorage.setItem(index, lsObj[index])
        }
        window.location = decodeURI("<%= url %>");
    </script>
    <!-- launching <%= url %> -->
  </div>
</div>

<% include includes/footer %>
