<% include includes/header %>

<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="margin-top:100px;">
      <div class="col-lg-4 col-md-3 col-sm-12"></div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h3 class="text-center">Sugarizer Dashboard Login</h3>
        <div class="card card-nav-tabs">
            <div class="card-content">
              <% include includes/flash-errors %>
              <form method="post" action="/dashboard/login">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">UserName</label>
                    <input class="form-control" name="username" type="text">
                    <span class="material-input"></span>
                </div>
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Password</label>
                    <input class="form-control" name="password" type="password">
                    <span class="material-input"></span>
                </div>
                <button class="btn pull-right" type="submit">Login<div class="ripple-container"></div></button>
                <div class="clearfix"></div>
              </form>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-12"></div>
    </div>
  </div>
</div>

<% include includes/footer %>
